<div class="container fluid">
  <h2>{{ recipe.nombre }}</h2>
  <img
    class="recipe-detail-img"
    [src]="recipe.imagen"
    alt="{{ recipe.imagen }}"
  />
  <p><strong>Porciones:</strong> {{ recipe.porciones }}</p>
  <p><strong>Tiempo:</strong> {{ recipe.tiempo_minutos }} min</p>
  <h3>Ingredientes</h3>
  <h6>Ingrediente más usado: {{ getIngredienteMasUsado() }}</h6>
  <app-ingredient-list
    [ingredients]="recipe.ingredientes"
  ></app-ingredient-list>

  <h3>Pasos</h3>
  <ol>
    @for(step of recipe.pasos; track step){
    <li>
      {{ step }}
    </li>
    }
  </ol>
  <button class="btn btn-secondary" routerLink="/recipe">Regresar</button>
</div>

